/* CSS used here will be applied after bootstrap.css */
@media (max-width: 767px) {
	.content {
		padding: 15px;
		margin-top: 10px;
	}
}
@media (min-width: 768px) {

	#menu-bar .panel {
	margin-bottom: 0;
	background-color: rgba(0,0,0,0);
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	}

	#menu-bar li a {
		color: #fff;
		font-size: 16px;
		font-weight: bold;
	}

	#navbar {
		float: left;
		width: 200px;
		height: 100%;
	}

	.content {
		margin-left: 200px;
		min-height: 100%;
		margin-top: 60px;
	}

	.container {
		margin-left: 10px;
        padding-right: 150px;
	}

}
.navbar-brand > h3 {
   margin-top: 0;
   margin-bottom: 0;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
#navbar {
   margin-top: 50px
}
.navbar-collapse {
    z-index: 1200;
  }

.nav > li > a:hover{
    background-color:#7C97A1;
}


.nav > li > li > a:hover{
    background-color:#7C97A1;
}